/* .page-card{
    background: aquamarine !important;
}
.welcome{
    background-color: aliceblue !important;
}
.container{
    background: black !important;
} 
.navbar {
    background-color: black !important;
} */
